<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Nhà hàng ABC">
        Nhà hàng ABC
    </title>


</head>
<body>
<header>
    <div>
        <strong>Logo Nhà hàng ABC</strong>
    </div>
    <hr>
</header>

<main layout:fragment="content">
    <!-- Page-specific content will be inserted here -->
</main>

<footer>
    <hr>
    <p>Hotline: 0909 000 111 | Email: lienhe@nhahangabc.vn</p>
    <p>Địa chỉ: 123 Đường Món Ngon, Quận 1, TP.HCM</p>
</footer>
</body>
</html>

